<article class="container d-flex flex-column flex-md-row flex-md-wrap  align-items-center align-items-md-start border">
	<div id="card-container" *ngFor="let ruta of rutasAll; let i = index">
		<div type="button" (click)="clickCard(ruta.id)">
			<div *ngIf="i < 4" class="card m-2">
				<img src="../../../assets/shutterstock_2206701587.jpeg" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">{{ ruta.nombre }}</h5>
					<p class="card-text">{{ ruta.descripcion }}</p>
				</div>
			</div>
		</div>
	</div>
</article>