@import "../../../styles.scss";
/* Custom styles for the sections */


#contact-img {
	background-image: url('../../../assets/shutterstock_2028613154.jpeg');
	background-position: center;
	background-size: cover;
	height: 70vh;
	overflow: hidden;
}

.section {
 /* height: 11; /* Adjust the height as needed */
  
  margin-left : 7%;
  margin-right : 7%;
  margin-bottom : 2.3%;
  color: #422d18;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.sidebar-box {
  max-height: 90%;
  position: relative;
  overflow: hidden;
  font-size: 0.8rem;
  border: none;
  border-radius: 10pt;
  text-align: left;
  padding:2%;
}
.read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  text-align: center;
  
  width: 100%; 
  padding-top: 30px; 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, #808080db);
}

.icons {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}
 .small-icon{margin:2.1rem;
  margin: 0rem 1.5rem 0rem 1.5rem;
  padding-top:2rem;
}
.section1 {
  margin-top : 6%;
  padding-left: 0%;
  
}

.section2 {
  align-self: flex-start;
}

.section3 {
    font-size: 1.1rem;
  }

.top-left-content {
text-align: left;
align-self: flex-start;

}
.mapa-propeties {

width: 80.6%;
}

.ruta-propeties {
	width: 2rem;

}

.inner-section11 h2 {
  color: #422d18;
  font-size:2.5rem;
  font-weight: bold;
}
.page {      
  height: 25rem; /* Fill the height of the parent */
  }
  .ubicacion-propety {
width: 2.6rem;
margin-right: 1.1rem;
}
.span-card {
font-size: 0.9rem;
color: #422d18;
font-weight: bold;
}
.row-2
{margin-top: 4.1rem;}