<section>
	<article id="contact-img" class="d-flex flex-column justify-content-between">
		<app-menu></app-menu>
	</article>
</section>
<div class="section section1 row">
  <!-- First Vertical Section -->
  <div class="col-md-4 inner-section11 align-items-center top-left-content d-flex">
    <h2>{{ ruta.nombre }}</h2>
  </div>
  <!-- Second Vertical Section -->
  <div class="col-md-8 inner-section12">
    <div class="col-2 icons d-flex flex-column">
      <!-- <div class="sidebar-box">
        <p>{{ ruta.descripcion }}</p>
        <p class="read-more">Seguir Leyendo Mas Abajo ...</p>
      </div> -->
      <div class="row">
        <div class="row-2 ">
          <img class="ubicacion-propety" src="../../../assets/ubicacion.png" alt="ubicacion_ruta.png">
          <span class="span-card mt-1">{{ ruta.ciudad }}</span>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <div class="small-icon d-flex flex-column align-items-center justify-content-end">
            <img class="ruta-propeties" src="../../../assets/horas.png" alt="">
            <span class="span-card fw-bold mt-2">{{ ruta.duracion }} h</span>
          </div>
          <div class="small-icon d-flex flex-column align-items-center justify-content-end">
            <img class="ruta-propeties" src="../../../assets/km.png" alt="">
            <span class="span-card fw-bold mt-2">{{ ruta.longitud }} km</span>
          </div>
          <div class=" small-icon d-flex flex-column align-items-center justify-content-end">
            <img class="ruta-propeties" src="../../../assets/dificultad.png" alt="">
            <span class="span-card fw-bold mt-2">{{ ruta.dificultad }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Section 2 -->
<article id="map" class="container"></article>
<!-- Section 3 -->
<div class="section section3">
  {{ ruta.descripcion }}
</div>
<div class="section section4">
  <div id="carouselExample" class="carousel slide">
    <div  class="carousel-inner">
      <!-- <div *ngFor="let fotos of fotosAll; let i = index"> -->
        <div class="carousel-item active">
          <img src="{{ ruta.foto_perfil?.startsWith('https://via.placeholder.com') ? ruta.foto_perfil : 'http://localhost:8000' + ruta.foto_perfil }}"  class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>
<!-- </div> -->
<app-footer></app-footer> 