.span-card {
	font-size: 0.5rem;
}

.ruta-propeties {
	width: 2rem;
}

.ubicacion-propety {
	width: 1rem;
}

.card-title {
	font-size: 1rem;
}

.card-text {
	font-size: 0.6rem;
}

.xxl-w70 {
	@media (min-width: 1200px) {
		max-width: 70vw;
	}
}

.ms-s-4 {
	@media (min-width: 375px) {
		margin-left: 1.5rem !important;
	}
}

#card-img {
	max-height: 250px;
}

article > div > div > div {
	cursor: pointer;
}

article > div > div > div:hover {
	opacity: .7;
}