<h1>TipoRuta Component</h1>
<div id="orange-gradient" class="">
	<section>
		<article id="home-img" class="d-flex flex-column justify-content-between">
			<app-menu></app-menu>
			<h1>Descubre nuevas <br/> rutas de monta&ntilde;a</h1>
			<app-buscador class="align-self-center mb-3"></app-buscador>
		</article>
	</section>
</div>
<section>
	<h5 id="vertical-card-title">&Uacute;ltimas b&uacute;squedas</h5>
	<div *ngIf="res != []; else elseBlock ">
		<app-horizontal-card [datosPadre]="res"></app-horizontal-card>
	</div>
	<ng-template #elseBlock>
		<app-horizontal-card [datosPadre]="errorRes"></app-horizontal-card>
	</ng-template>
	<app-horizontal-card (eventohijo)="onMensajeHijo($event)"></app-horizontal-card>
</section>
<section>
	<article class="text-center mt-3">
		<h5>NOTICIAS</h5>
		<p>Todo sobre  rutas</p>
	</article>
	<app-vertical-card></app-vertical-card>
</section>
<app-footer></app-footer>
