<div id="orange-gradient" class="">
	<section>
		<article id="home-img" class="d-flex flex-column justify-content-between">
			<app-menu></app-menu>
			<h1>Descubre nuevas <br/> rutas de monta&ntilde;a</h1>
			<app-buscador class="align-self-center mb-3"></app-buscador>
		</article>
	</section>
</div>
<section class="mb-5">
	<app-horizontal-card [datosPadre]="dataBuscador"></app-horizontal-card>
	<!-- <div *ngIf="getTrigger() === true && res.length <= 0; else elseBlock ">
		<div class="text-center m-5 p-5">
			<h3>Lo sentimos.</h3>
			<h3>No hemos hallado rutas con ese criterio de b&uacute;squeda</h3>
		</div>
		<app-horizontal-card [datosPadre]="errorRes"></app-horizontal-card>
	</div>
	<div *ngIf="getTrigger() === false && res.length <= 0">
		<h5 id="vertical-card-title">&Uacute;ltimas b&uacute;squedas</h5>
		<app-horizontal-card [datosPadre]="errorRes"></app-horizontal-card>
	</div>
	<ng-template #elseBlock>
		<app-horizontal-card [datosPadre]="res"></app-horizontal-card>
	</ng-template> -->
</section>
<app-footer></app-footer>
