<div id="orange-gradient" class="">
	<section>
		<article id="home-img" class="d-flex flex-column justify-content-between">
			<app-menu></app-menu>
			<h1>Descubre nuevas <br/> rutas de monta&ntilde;a</h1>
			<app-buscador class="align-self-center mb-3"></app-buscador>
		</article>
	</section>
</div>
<section class="mb-5">
	<div *ngIf="getTrigger() === false">
		<h5 id="vertical-card-title">Descubre nuestras rutas</h5>
		<app-horizontal-card [datosPadre]="arrayRutas"></app-horizontal-card>
	</div>
	<div *ngIf="getTrigger() === true && getEmpty() === true">
		<div class="text-center m-5 p-5" #myDiv>
			<h3>Lo sentimos</h3>
			<h3>No hemos hallado rutas con ese criterio de b&uacute;squeda</h3>
			<h3>Aqu&iacute; tienes algunas de nuestras rutas</h3>
		</div>
		<app-horizontal-card [datosPadre]="arrayRutas"></app-horizontal-card>
	</div>
	<div *ngIf="getTrigger() === true && getEmpty() === false">
		<h5 id="vertical-card-title">Aqu&iacute; tiene su resultado</h5>
		<app-horizontal-card [datosPadre]="dataBuscador"></app-horizontal-card>
	</div>
	<!-- <app-horizontal-card [datosPadre]="dataBuscador"></app-horizontal-card> -->
</section>
<app-footer></app-footer>
