.card-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#card-container {
	max-width: 90%;
	max-height: 50%;
	transition: all .3s ease-in;

	@media (min-width: 767px) {
		max-width: 50%;
		height: 450px;
	}

	@media (min-width: 992px) {
		max-width: 25%;
	}
}

#card-container:hover {
	transform: scale(1.05);
	opacity: .8;
}

#img-container {
	height: 300px;
}