 #home-img {
	background: linear-gradient(to top, rgba(244,148,28, 0.187), rgba(239, 237, 233, 0.159)), url('../../../assets/shutterstock_221809534.jpeg');
	background-position: center;
	background-size: cover;
	height: 70vh;
}

h1 {
	color: #fff;
	margin-left: 3rem;
	font-size: 3.5rem;
	font-weight: bold;
	@media (max-width: 767px) {
		font-size: 2rem;
	}
}

#orange-gradient {
	padding-bottom: 8rem;
	min-height: 150vh;
	background: linear-gradient(0deg, rgba(244,148,28, 0.9) 40%, transparent 70%);
	clip-path: polygon(100% 0, 100% 93%, 26% 100%, 0 93%, 0 0);
}

#vertical-card-title {
	color: #222;
	margin: 1rem 2rem;
	@media (min-width: 768px) {
		margin: 1rem 4rem;
	}
}

#grey-block {
	background: linear-gradient(0deg, grey 40%, transparent 70%);
	padding-bottom: 3rem;
}
