@import '../../../styles.scss';

.logo {
	max-height: 2.5em;
}

.navbar-brand {
	margin: 0;
}

.nav-item {
	font-size: .6rem;
	text-align: center;
	a {
		padding: .5rem .5rem;
		font-weight: 600;
	}

	@media (max-width: 992px) {
		padding-right: 1rem;
	}
	
	@media (max-width: 898px) {
		padding-right: 0.5rem;
	}

	@media (max-width: 828px) {
		padding-right: 0.2rem;
	}

	@media (max-width: 786px) {
		padding-right: 0rem;
	}

	@media (max-width: 767px) {
		background-color: #323232;
		color: white;
		padding: 0.3rem 0;
	}
}

/* TODO: Cambiar la propiedad de tamaño a otra */
.active {
	font-size: 1rem;
}