<nav class="navbar navbar-expand-md">
	<!-- <a class="navbar-brand" href="#">Tu Proyecto</a> -->
	<a [routerLink]="['/']">
		<img src="../../../assets/logo.png" alt="logo_mountain_routes" class="navbar-brand w-25 p-3" >
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	  <ul class="navbar-nav">
		<li class="nav-item">
		  <a [routerLink]="['/']" class="nav-link">Inicio</a>
		</li>
		<li class="nav-item">
		  <a [routerLink]="['/tipo-ruta']" class="nav-link">Rutas de monta&ntilde;a</a>
		</li>
		<li class="nav-item">
			<a [routerLink]="['/crearuta']" class="nav-link">Crea tu ruta</a>
		</li>
		<li class="nav-item">
		  <a [routerLink]="['/favoritas']" class="nav-link">Tus favoritas</a>
		</li>
		<li class="nav-item">
		  <a [routerLink]="['/contacto']" class="nav-link">Contacto</a>
		</li>
	  </ul>
	</div>
  </nav>
