<nav class="navbar navbar-expand-md">
	<a [routerLink]="['/']" class="navbar-brand ps-2 pt-2 pb-2">
		<img class="logo" src="../../../assets/logo.png" alt="logo_mountain_routes" >
	</a>
	<button class="navbar-toggler me-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggle()">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse justify-content-end" id="navbarNav">
	  <ul  class="navbar-nav text-center">
		<li  class="nav-item pe-lg-4">
		  <a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Inicio</a>
		</li>
		<li class="nav-item pe-lg-4">
		  <a [routerLink]="['/tipo-ruta']" routerLinkActive="active" class="nav-link">Rutas de monta&ntilde;a</a>
		</li>
		<li class="nav-item pe-lg-4">
			<a [routerLink]="['/crearuta']" [routerLinkActive]="['active']" class="nav-link">Crea tu ruta</a>
		</li>
		<li class="nav-item pe-lg-4">
		  <a [routerLink]="['/favoritas']" [routerLinkActive]="['active']" class="nav-link">Tus favoritas</a>
		</li>
		<li class="nav-item pe-lg-4">
		  <a [routerLink]="['/contacto']" [routerLinkActive]="['active']" class="nav-link">Contacto</a>
		</li>
		<li class="nav-item pe-lg-4">
		  <button [routerLink]="['/registrarse']" class="btn-registrarse" type="submit">REGISTRARSE</button>
		</li>
		<li class="nav-item pe-lg-4">
		  <button [routerLink]="['/login']" class="btn-inicia-sesion" type="submit">INICIA SESI&Oacute;N</button>
		</li>
	</ul>
	</div>
</nav>
