<section>
  <div class="container-fluid">
      <div class="row">
        <!-- Primera sección -->
        <div class="col-md-6 col-12 ">
          <div class="bg-image d-flex justify-content-center align-items-center">
            <!-- Contenido de la primera sección -->
            <img src="../../../assets/logo.png" class="logo-img" alt="Imagen con ancho al 100%"> 
          </div>
        </div>
        <!-- Segunda sección -->
        <div class="form col-md-6 col-12 d-flex justify-content-center align-items-center" style="background-color: #ffffff;">
          <!-- Contenido de la segunda sección -->
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class = "login-form">
            <h1>Bienvenido</h1>
            <h3><strong>Bienvenido a Mountain Routes</strong></h3>
            <h5>Por favor introduce tu usuario y contraseña</h5>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="user" [(ngModel)]="usuario.email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="usuario.password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
</div>
</section>