#crea-ruta-img {
	background-image: url('../../../assets/fondo_crearuta.jpg');
	background-position: center;
	background-size: cover;
	height: 70vh;
}

#crea-ruta-container {
	height: 50vh;
}