<section>
	<article id="crea-ruta-img" class="d-flex flex-column justify-content-between">
		<app-menu></app-menu>
		<h1>Crea tu propia <br />ruta y comp&aacute;rtela <br /> con tus amigos</h1>
		<app-buscador class="align-self-center mb-3"></app-buscador>
	</article>
</section>
<section id="crea-ruta-container" class="container-fluid d-grid">
	<article id="planifica" class="p-3 row fw-bold">
		<span class="fs1">Planificador de ruta</span>
	</article>
	<div class="row">
		<!-- Mapa -->
		<article id="map" class="col-12 col-md-8 order-md-1"></article>
		<!-- Formulario -->
		<article id="crea-ruta-form" class="col-12 col-md-4 order-md-0 d-flex justify-content-center">
			<form #creaRutaForm="ngForm" (ngSubmit)="guardaRuta()" novalidate
				class="w-75 fw-bold">

				<label for="dificultad" class="form-label">Nombra tu ruta</label>
				<input type="text" class="form-control" id="nombre_ruta" name="nombre" #nombre="ngModel"
					[(ngModel)]="this.nuevaRuta.nombre" required
					[ngClass]="{'is-invalid': creaRutaForm.submitted && nombre.errors}">
				<div *ngIf="nombre.errors" class="invalid-feedback">
					<div *ngIf="nombre.errors['required']">Campo obligatorio</div>
				</div>

				<label for="ciudad" class="form-label">Ubicaci&oacute;n de la ruta</label>
				<input type="text" class="form-control" id="ciudad_ruta" name="ciudad"
					[(ngModel)]="this.nuevaRuta.ciudad">

				<label for="ciudad" class="form-label">Longitud de la ruta (m)</label>
				<input type="number" class="form-control" id="longitud_ruta" name="longitud" #longitud="ngModel"
					[(ngModel)]="this.nuevaRuta.longitud" required
					[ngClass]="{'is-invalid': creaRutaForm.submitted && longitud.errors}">
				<div *ngIf="longitud.errors" class="invalid-feedback">
					<div *ngIf="longitud.errors['required']">Campo obligatorio</div>
				</div>

				<label for="ciudad" class="form-label">Duraci&oacute;n de la ruta en (min)</label>
				<input type="number" class="form-control" id="duracion_ruta" name="duracion" #duracion="ngModel"
					[(ngModel)]="this.nuevaRuta.duracion" required
					[ngClass]="{'is-invalid': creaRutaForm.submitted && duracion.errors}">
				<div *ngIf="duracion.errors" class="invalid-feedback">
					<div *ngIf="duracion.errors['required']">Campo obligatorio</div>
				</div>

				<label for="dificultad" class="form-label">Elige una dificultad</label>
				<select class="form-select" id="dificultad" name="dificultad" #dificultad="ngModel"
					[(ngModel)]="this.nuevaRuta.dificultad" required
					[ngClass]="{'is-invalid': creaRutaForm.submitted && dificultad.errors}">
					<option value="baja">Baja</option>
					<option value="media">Media</option>
					<option value="alta">Alta</option>
				</select>
				<div *ngIf="dificultad.errors" class="invalid-feedback">
					<div *ngIf="dificultad.errors['required']">Campo obligatorio</div>
				</div>

				<label for="dificultad" class="form-label">Describe tu ruta</label>
				<textarea class="form-control" id="describe_ruta" rows="3" name="descripcion" #descripcion="ngModel"
					[(ngModel)]="this.nuevaRuta.descripcion" required
					[ngClass]="{'is-invalid': creaRutaForm.submitted && descripcion.errors}"></textarea>
				<div *ngIf="descripcion.errors" class="invalid-feedback">
					<div *ngIf="descripcion.errors['required']">Campo obligatorio</div>
				</div>

				<label for="ciudad" class="form-label">Introduce tus imagenes</label>
				<input class="form-control" type="file" name="imagenes" id="imagenes_ruta" accept=".jpeg, .jpg, .png"
					multiple [(ngModel)]="this.nuevaRuta.imagenes">

				<div class="d-flex align-items-center ps-2">
					<input class="form-check-input me-1 ps-0 " type="checkbox" id="ninos_ruta" name="ninos"
						[(ngModel)]="this.nuevaRuta.ninos" required>
					<label for="ninos_ruta" class="form-check-label">Ruta apta para ni&ntilde;os</label>
				</div>

				<div class="d-flex justify-content-center align-items-center">
					<button type="submit" class="btn-guardar mt-2 mb-3">Guardar ruta</button>
				</div>

				<div class="d-none">
					<input class="form-control" id="duracion_ruta" name="coordenadas" #coordenadas="ngModel"
					[(ngModel)]="this.nuevaRuta.coordenadas" required
					[ngClass]="{'is-invalid': creaRutaForm.submitted && coordenadas.errors}">
				</div>
				<div *ngIf="coordenadas.errors" class="invalid-feedback coor-error">
					<div *ngIf="coordenadas.errors['required']">Introducir las coordenadas es un campo obligatorio</div>
				</div>

			</form>
		</article>
	</div>
</section>
<section id="ultimas-rutas-container">
	<article id="title-ultimas-rutas" class="fw-bold ms-3 ms-sm-4 ms-md-5 mt-3 ">
		<span>&Uacute;ltimas rutas creadas</span>
	</article>
	<app-horizontal-card [datosPadre]="rutasLast"></app-horizontal-card>
</section>
<app-footer></app-footer>