<form [formGroup]="formularioBuscador" (submit)="onSubmit()" class="d-flex flex-column flex-wrap flex-md-row">
	<select class="form-select" id="ciudad" formControlName="ciudad">
		<option value="">Ciudad</option>
		<option *ngFor="let c of cityArray" [value]="c">{{ c }}</option>
	</select>
	<select class="form-select" id="dificultad" formControlName="dificultad">
		<option value="">Dificultad</option>
		<option *ngFor="let dif of dificultadArray" [value]="dif">{{ dif }}</option>
	</select>
	<select class="form-select" id="duracion" formControlName="duracion">
		<option value="">Duracion</option>
		<option *ngFor="let d of duracionArray; let i = index" [value]="i + 1">{{ d }}</option>
	</select>
	<select class="form-select" id="longitud" formControlName="longitud">
		<option value="">Longitud</option>
		<option *ngFor="let l of longitudArray; let i = index" [value]="i + 1">{{ l }}</option>
	</select>
	<div class="form-check d-flex align-items-center">
		<input class="form-check-input" id="conNinos" type="checkbox" formControlName="ninos">
		<label class="form-check-label" for="conNinos">Niños</label>
	</div>
	<button type="submit" class="btn-buscar">Buscar</button>
</form>