form{
	width: 80vw;
	justify-content: center;
	select {
		border-radius: 20px;
		padding: .15rem 1.5rem .15rem .5rem;
		width: fit-content;
		font-size: 0.5rem;
		margin: 0 .1rem;
		
		@media (max-width: 576px) {
			margin: .2rem 0rem;
			width: 100%;
		}
	}

	button {
		font-size: 0.5rem;
		margin: 0 .4rem;
	}
}